pydantic
python-dotenv
langchain
langchain-groq
langchain-openai
langchain-core
langchain-community
pypdf
bs4
arxiv<1.4.0
pymupdf
wikipedia
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_google_genai
langchainhub
langchain_classic 
langchain-pinecone